.calendar .row {
  padding: 0; }
  .calendar .row .col {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center; }
    .calendar .row .col button {
      height: 30px;
      width: 30px; }
  .calendar .row .heading {
    font-size: 75%;
    opacity: .75; }
.calendar .title {
  font-size: 16px; }

.number-button {
  min-width: 30px;
  min-height: 0px;
  width: 30px;
  height: 15px;
  padding: 0px;
  display: block; }
  .number-button:nth-child(1) {
    margin-bottom: 2px; }
  .number-button .icon {
    line-height: 9px; }
    .number-button .icon:before {
      font-size: 9px;
      line-height: 9px; }

.set-list h2 {
  padding-top: 10px; }
.set-list .set-attributes {
  display: inline-block; }
  .set-list .set-attributes .input-label {
    display: inline-block; }
  .set-list .set-attributes .set-attribute {
    display: flex; }
    .set-list .set-attributes .set-attribute input[type="number"] {
      text-align: center;
      padding: 0px;
      display: inline-block;
      -moz-appearance: textfield;
      border-bottom: 1px solid #ccc; }
      .set-list .set-attributes .set-attribute input[type="number"]::-webkit-outer-spin-button, .set-list .set-attributes .set-attribute input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; }

.animZoomIn.ng-hide-remove {
  -webkit-animation: zoomIn 1s;
  animation: zoomIn 1s; }

.animSlideInLeft.ng-hide-remove {
  -webkit-animation: slideInLeft 1s;
  animation: slideInLeft 1s; }

.animSlideInLeft.ng-hide-add {
  -webkit-animation: slideOutLeft 1s;
  animation: slideOutLeft 1s; }

.centered-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
