<ion-view title="Listing Routines">
  <ion-nav-bar class="bar-assertive-900">
    <ion-nav-buttons side="right">
      <button ui-sref="routines.form({isNew: true, action: 'Add', routine: {}})" class="button button-icon button-clear ion-android-add"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="true">
     <ion-list>
      <ion-item ng-repeat="r in routines" ui-sref="routines.form({isNew: false, action: 'Editing', routine: r})">
        <div style="float: left"><strong>{{ r.name }}</strong></div>
        <div style="float: right">{{ r.tags }}</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>